html,
body {
  height: 100%;
}

body {
  font-family: Helvetica;
  background: linear-gradient(180deg, rgb(59, 68, 119) 0%, rgba(22, 23, 29, 1) 100%);
  margin: 0;
  padding: 0;
}

button {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background-color: #7ca7df;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.9s ease;
  text-transform: uppercase;
}

button:hover {
  background-color: #5a8ac6;
  transform: scale(1.5);
}