.GameScreem{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 100px;
    
}
.divTituloTelaGame{
    grid-column: span 3;
    display: flex;
    justify-content: center;
}
.tituloTelaGame {
  font-size: 3rem;
  background: linear-gradient(180deg, #7ca7df, #bdbdbd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.divVidasTempoPontuacao{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 5px solid #000;
    border-radius: 10px;
}

.divPrincipalGame{

}