.tituloTelaInicial {
  font-size: 7rem;
  background: linear-gradient(180deg, #7ca7df, #bdbdbd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.divButtonTelaInicial{
  width: 100%;
  display: flex;
  justify-content: center;
}
